<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f385a2">  <td>20/08/28 17:30:47</td>   <td>0</td> <td title="&gt;&gt;BaseConfig.setExtent()[pri:0, instance:com.yapo.test.BusquedaFalabella@7c469c48]">&gt;&gt;setExtent</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1541857308</td>   <td></td> </tr>
<tr bgcolor="f385a2">  <td>20/08/28 17:30:47</td>   <td>266</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseConfig.getDriver()[pri:0, instance:com.yapo.test.BusquedaFalabella@7c469c48]">&gt;&gt;getDriver</td> 
<td>&nbsp;</td>  <td>main@1541857308</td>   <td></td> </tr>
<tr bgcolor="63bba0">  <td>20/08/28 17:31:01</td>   <td>13892</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BusquedaFalabella.busquedaFalabella(com.yapo.entities.DatosBusquedaFalabella)[pri:0, instance:com.yapo.test.BusquedaFalabella@7c469c48]">busquedaFalabella</td> 
  <td>main@1541857308</td>   <td></td> </tr>
<tr bgcolor="f385a2">  <td>20/08/28 17:32:26</td>   <td>99166</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseConfig.tearDown()[pri:0, instance:com.yapo.test.BusquedaFalabella@7c469c48]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1541857308</td>   <td></td> </tr>
<tr bgcolor="f385a2">  <td>20/08/28 17:32:26</td>   <td>99232</td> <td title="&lt;&lt;BaseConfig.endReport()[pri:0, instance:com.yapo.test.BusquedaFalabella@7c469c48]">&lt;&lt;endReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1541857308</td>   <td></td> </tr>
</table>
